body
{
    background: yellowgreen;
    font-family: Arial, Helvetica, sans-serif;
}
.assignment
{
    display: flex;
    padding: 10px;
    margin: 10px;
    background: green;
    border-radius: 50000px;
}
.assignment img 
{
    width:200px;
    margin: 5px;
}
.assignment img:hover{
    border: 5px solid rgb(0, 255, 213);
}
h1
{
    color: yellow;
    text-align:center;
}
h2{
    color: yellow;
}
p
{
    color: yellow;
}
a {
    text-decoration: none;
    color: yellow;
}
a:hover {
    color: pink;
}